.landingcardssection .cards{
    --card-height: 400px;
    --card-gap: 20px;
    --num: 4;
}

.landingcardssection .cards .cards-grid .card:nth-child(1){
    --i:1;
}
.landingcardssection .cards .cards-grid .card:nth-child(2){
    --i:2;
}
.landingcardssection .cards .cards-grid .card:nth-child(3){
    --i:3;
}
.landingcardssection .cards .cards-grid .card:nth-child(4){
    --i:4;
}








.landingcardssection .cards .cards-grid .card {
    height: 900px;
    position: sticky;
    top: -300px;
}


@media (min-width: 640px) {
    .landingcardssection .cards .cards-grid .card {
        height: 1000px;
    position: sticky;
    top: -400px;
    }
}

@media (min-width: 768px) {
    .landingcardssection .cards .cards-grid .card {
        height: 1000px;
        position: sticky;
        top: calc(30px + (var(--i) * 30px));
    }
}

@media (min-width: 1024px) {
    .landingcardssection .cards .cards-grid .card {
        height: 550px;
        position: sticky;
        top: calc(30px + (var(--i) * 30px));
    }
}
@media (min-width: 1280px) {
    .landingcardssection .cards .cards-grid .card {
        height: 500px;
        position: sticky;
        top: calc(30px + (var(--i) * 30px));
    }
}
@media (min-width: 1536px) {
    .landingcardssection .cards .cards-grid .card {
        height: 700px;
        position: sticky;
        top: calc(30px + (var(--i) * 30px));
    }
}