.no-scroll::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Edge */
  }

.containerr{
    height: 100vh;
    overflow: auto;  
    scroll-timeline: --container-timeline;
    scroll-timeline-axis: block;
}

.square{
    animation:linear move  ;
    animation-timeline: --container-timeline;
    position: sticky;
    top: 0;
}


@keyframes move{
    0%{
        transform: translateX(20px) translateY(70px);


    }
    100%{
        transform: translateX(calc(50vw - 80px)) translateY(calc(50vh - 120px));

    }
}
@media (min-width: 450px) { 
    @keyframes move {
      0% {
        transform: translateX(50px) translateY(80px);
      }
      100% {
        transform: translateX(calc(50vw - 80px)) translateY(calc(50vh - 120px));
      }
    }
  }

@media (min-width: 640px) { /* sm */
    @keyframes move {
      0% {
        transform: translateX(50px) translateY(70px);
      }
      100% {
        transform: translateX(calc(50vw - 140px)) translateY(calc(50vh - 150px));
      }
    }
  }

  @media (min-width: 768px) { /* md */
    @keyframes move {
      0% {
        transform: translateX(40px) translateY(120px);
      }
      100% {
        transform: translateX(calc(50vw - 150px)) translateY(calc(50vh - 170px));
      }
    }
  }

  @media (min-width: 1024px) { /* lg */
    @keyframes move {
      0% {
        transform: translateX(100px) translateY(150px);
      }
      100% {
        transform: translateX(calc(50vw - 200px)) translateY(calc(50vh - 200px));
      }
    }
  }
  @media (min-width: 1280px) { /* xl */
    @keyframes move {
      0% {
        transform: translateX(190px) translateY(150px);
      }
      100% {
        transform: translateX(calc(50vw - 250px)) translateY(calc(50vh - 210px));
      }
    }
  }
  

  @media (min-width: 1536px) { /* 2xl */
    @keyframes move {
        0%{
            transform: translateX(150px) translateY(300px);
        }
        100%{
            transform: translateX(calc(50vw - 300px)) translateY(calc(50vh - 300px));  
        }
    }
  }
  